.headerbox{
    margin-top: 20px;
    color: #d0e9c6;
    width: 90%;
    height: 50%;
    margin-left: 5%;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}
li button{
background: transparent !important;
    color: mediumblue !important;
    border-color: transparent !important;
}
.leftcontainer{
    margin-top: 19px;
    background-color: #f5f5f5;
    width: 30%;
    display: inline-block;
    height: 82%;
    margin-left: 5%;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    position: absolute;    border-radius: 3px;
}
.menuheader{
    color: whitesmoke;
    font-size: x-large;
    font-family: 'Helvetica Neue', Helvetica, Arial ;
    /*
    text-align: right;
    */
    padding-left: 20px;
    padding-top: 3px;
    border-radius: 3px;
    width: auto;
    height: 49px;
    background-color:darkcyan;
    /*margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;*/
}

.chatbox{
    width: 406px;
    height: 51px;
    border: 1px solid white;
    background-color: inherit;
    box-shadow: 0px 0px 1px #0f0f0f;
    border-radius: 3px;
    margin-left: -29px;
}
.messagebox{
    margin-top: 19px;
    background-color: #f5f5f5;
    width: 59%;
    display: inline-block;
    height: 80%;
    margin-left: 36%;
    padding-bottom: 5px;
    border: 1px solid lightgray;
    position: absolute;
    border-radius: 3px;
}
.messageheader {
    color: whitesmoke;
    font-size: x-large;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    /*
    text-align: right;
    */

    border-radius: 3px;
    width: auto;
    height: 49px;
    background-color:darkcyan;
    /*margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;*/
}

.conversation{
    margin-top: 5%;
    background-color: transparent;
    width: 59%;
    display: inline-block;
    height: 66%;
    margin-left: 36%;
    padding-bottom: 5px;
    /*
    border: 1px solid lightgray;
    */
    position: absolute;
    border-radius: 3px;
}
div input.form-control{
    background-color: white;
    height:111%;
}
.keyboard{
    background-color: white;
    width: 59%;
    margin-top: 37.3%;
    display: inline-block;
    height: 6.8%;
    margin-left: 36%;
    padding-bottom: 5px;
    border: 1px solid lightgray;
    position: absolute;
    border-radius: 3px
}
div img{
    width: 45px; ;
    height: inherit;
    margin-left: 50px;
    margin-bottom: 3px;
}
.btn-default {
    background-color:#737373 !important;
    border-color: transparent!important;
    color: white!important;
}
.btn-default:hover, .btn-default:focus, .btn-default:active{
    background-color: #5e5e5e !important;
    border-color: transparent!important;
    color: #5e5e5e;!important;
}
ul.nav li.active.chatbox a,ul.nav li.active.chatbox a:hover,ul.nav li.active.chatbox a:active,ul.nav li.active.chatbox a:focus,ul.nav li.active.chatbox a:after,ul.nav li.active.chatbox a:default{
    text-decoration: none;!important;
    border: none;!important;
    background: #F5F5F5;!important;
    color: #5e5e5e;
    font-weight: 700;
    font-size: larger;
    text-align: center;!important;
}
.nav > li > a:focus{
    border:3px solid #F5F5F5!important;
    background: #F5F5F5;!important;
}
.messageheadermenu{
    color: whitesmoke;
    float: right;
    margin-right: 30px;
    background-color: inherit;
    border-color: transparent;
}
.dropdown-menu{
    right: -33px;
    top: 43px;
    min-width: 169px;
}
.modaltext{
    color: black;
}
body,html{
    display: block;
    background-color: white;
}